
@font-face {
  font-family: "neue_montrealregular";
  src: url("fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
    url("fonts/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



:root {
  --dark: black;
  --light: whitesmoke;
  --secondary: #eee;
 /*  --theme: #fffdf5; */
  --rose: #fce6e0;
  --lemon:#fcee42;
  --bear: #a05b3f;
  --theme: #f0eae0;
  --themeDarkest: #1b4638;
  --lightTheme: #fcfae7;
  /* --peach: #ffc6a2;
  --darkPeach: #f7906e;
  --textHeader: whitesmoke; */
}
::selection {
  background-color: var(--rose);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--themeDarkest);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--lightTheme);
}


body {
  background-color: #fcfae7;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "neue_montrealregular", aileron, sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--themeDarker);
  width: 100%;
  margin: 0;
}
.logo {
  color: var(--themeDarkest);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
.nav-links a {
  color: var(--themeDarkest);
  text-decoration: none;
}
.nav-active {
  transform: scale(1);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .l-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .l-2 {
  opacity: 0;
}

.toggle .l-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--themeDarkest);
  margin: 5px;
}
.burger {
  display: none;
}
.title {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: var(--theme);
 /*  background-image: url("../image/noise.png"); */
  color: var(--light);
  padding: 0;
}

.top-cap {
  margin: 0;
  padding: 0;
  font-size: 7rem;
  margin-top: 30px;
  color:var(--light);
  /* font-family: "neue_montrealregular", "aileron", sans-serif; */
  align-items: center;
 /*  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--dark); */
  color:var(--themeDarkest);
}
.top-cap-dsp {
  font-size: 2.5rem;
  color: var(--dark);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bm {
  height: 48rem;
  margin-top: -12.8rem;
}

.short-cap {
  font-size: 3.5rem;
  color: var(--dark);
}

#about-me {
  margin-top: 3rem;
  margin: auto !important;
  font-size: 50px;
}

.line {
  background-color: var(--dark);
  width: 13rem;
  height: 0.5rem;
}
.line-three {
  background-color: var(--dark);
  width: 17rem;
  height: 0.5rem;
}
.short-intro {
  font-size: 1rem;
  text-align: left;
  margin-top: 2rem;
}
/* .left{
  height:32rem;
} */
.intro-cap {
  font-size: 3rem;
}

.intro-cap-desp {
  text-align: justify;
}
.intro-box {
  width: 60%;
}
.self-wrapper {
  display: flex;
}
.sec-one-text-box {
  display: inline-block;
  line-height: 1.5rem;
  width: 50%;
}
.interest{
  height:10rem;
  width:30rem;
  border:3px solid var(--themeDarkest);
  border-radius:40px;

}
.interest-title{
  margin-left:3rem;
}
.interest ul{
  display:flex;
  justify-content:spce-between;
  list-style:none;
  line-height:1.5;
}
.interest-item{
  background-color:var(--themeDarkest);
  color:var(--light);
  margin-right:1rem;
  width:110%;
  padding:3px;
  border-radius: 20px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content: center;

}
#my-img {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 500px;
  width: 40%;
 /*  float: right; */
  border: 0.5rem solid var(--themeDarkest);
  border-radius: 50%;
  margin-right: 100px;
}
#my-img::before {
  content: "";
  height: 100%;
  width: 100%;
}

.mid-sec-one {
  width: 100vw;
  height: 100vh;
  background-color: var(--theme);
  padding: 100px;
}
.intro-box {
  background-color: var(--theme);
  width: 100%;
  margin: 3rem auto 0 auto;
}
.short-cap-box2 {
  padding-top: 3rem;
  padding-left: 2rem;
  text-align: left;
}

/* section two---------------------------------------- */
.mid-sec-two {
  background-color: var(--theme);
  padding: 50px 100px 100px 100px;
  height:100vh;
}
.mid-sec-two-row {
  --bs-gutter-x: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 18rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--light);
  cursor: pointer;
}
.card-icon {
  padding-top: 20px;
}
#lips {
  margin-bottom: 2px;
  padding-top: 45px;
}

.card-header {
  background-color: var(--rose);
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  height: 13rem;
  font-weight: bold;
}

.card01-header,
.card02-header,
.card03-header,
.card04-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .card-cap {
  border-bottom: 5px solid var(--light);
}
.card .list-group {
  padding: 10px;
}
.list-group-item {
  border: 1px solid transparent !important;
  background-color: var(--light);
}

.card-cap {
  font-weight: bold;
  padding: 15px;
  color:var(--dark);
}
#card-cap-others {
  padding: 10px;
}

/* third section------------------------- */
.mid-sec-three {
  /* height: 100vh; */
  width: 100vw;
  background-color: var(--theme);
  padding: 100px;
}

/* timeline------------------------------- */
#exps {
  color: var(--dark);
}
.timeline {
  margin: 2rem auto 0 auto;
  position: relative;
  max-width: 1091px;
}
.timeline::before {
  content: "";
  background-color: var(--dark);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  /* height: 105%; */
  width: 5px;
}
.timeline-element-box {
  height: 15rem;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 15rem;
}
.timeline-li {
  text-align: left;
  font-size: 1rem;
  list-style: none;
}
.timeline-ul {
  padding: 0px 20px 20px 20px;
  margin-top: 2rem;
  color: black;
}
.element-content {
  background-color: var(--rose);
  width: 50%;
  line-height: 2;
  position: relative;
  border-radius: 20px 20px 20px 20px;
 /*  border:5px solid var(--bear); */
}
.ele-cap-box {
  background-color: darksalmon;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
.right-ele-cap-box {
  border-radius: 20px 20px 0 0;
}
.ele-cap {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.ele-sub {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 3px;
}
.location {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.right-element {
  float: right;
  margin-right: -0.1rem;
  border-radius: 20px 20px 20px 20px;
}
.timeline-hr{
  color:var(--bear);
  height:3px!important;
}
/* mid-sec-four */
.mid-sec-four {
  height: 40vh;
  width: 100vw;
  padding: 100px;
  background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  /* background-image: url("image/texture-one.jpg"); */
  background-attachment: fixed;
  background-size: 100%;
}

.mid-sec-four-row {
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 50vw;
  color: var(--dark);
  backdrop-filter: blur(10px);
}
.dwn-btn {
  width: 15rem;
  height: 3rem;
  border-radius: 30px;
  background-color: var(--themeDarkest);
  border: none;
  text-transform: uppercase;
}
.dwn-btn:hover a {

  color:var(--lemon);
}
.dwn-btn:hover {
  transform: scale(1.02);
}
.resume-link {
  text-decoration: none;
  color: var(--light);
}
/* section five--projects------------------ */

.mid-sec-five {
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--lightTheme);
  height:100%;
  width:100%;
/*   height:100vh;
  width:100vw; */
}
.line-five {
  width: 24rem;
}
.mid-sec-five-row {
  background-color: var(--lightTheme);
}

.link-icon {
  position: absolute;
  left: 50%;
  top: 45%;
  color: var(--light);
  opacity: 0;
}
.por-link {
  color: var(--light);
}
.image-section {
  position: relative;
}
#portfolio .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--themeDarkest);
  opacity: 0;
}
#portfolio .image-section:hover .overlay {
  opacity: 0.6;
  transition: all 0.5s ease-in;
}
.image-section:hover .link-icon {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.card-text {
  position: absolute;
  left: 10%;
  top: 30%;
  color: var(--light);
  opacity: 0;
}
.image-section:hover .card-text {
  position: absolute;
  opacity: 1;
}

.square {
  position: relative;
  height: 400px;
  width: 400px;
  overflow: hidden;
  /* background-position:center center; */
 /*  background-size:100%; */
  background-repeat:no-repeat;
}

.square:hover {
  background-color: var(--theme);
  background-blend-mode: soft-light;
}

.square:hover .text-box {
  display: block;
}

.text-box {
  animation: slideInLeft;
  animation-duration: 1s;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 25;
  padding: 30px;
  line-height: 2;
  backdrop-filter: blur(10px);
  text-align: left;
}
.hashtag {
  width: 3rem;
  height: 2rem;
  background-color: greenyellow;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right:1rem;
}
.port-ul li {
  list-style: circle;
}
.port-heading {
  font-weight: bold;
}
.row-one {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.row-two {
  margin-bottom: 3rem;
}
.row-three {
  /* margin-bottom: 3rem; */
  padding-bottom: 5rem;
}
.go-icon {
  border: 3px solid var(--dark);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-left: 70%;
}
.go-arrow {
  transform: translate(0, 20%);
}
.go-icon:hover .go-arrow {
  transform: translate(15%, 20%);
  transition: transform 0.3s linear;
}
.go-link {
  color: var(--dark);
}
.go-link:hover {
  color: var(--dark);
}

.pro-short-cap {
  padding-top: 100px;
}
/* footer----------------------------------------------- */
footer {
  height: 40vh;
  width: 100vw;
  background-color: var(--themeDarkest);
}
.icon-box {
  text-align: center;
}
.icon-wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--theme);
  display: inline-block;
  margin-top: 15vh;
  margin-right: 1rem;
}
.fa-envelope,
.fa-github,
.fa-linkedin {
  color: var(--themeDarkest);
  text-align: center;
  transform: translate(0, 50%);
}
.mid-sec-six {
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--rose);
  height:100vh;
  width:100vw;
}
.bio-text{
  text-align:justify;
}
.mid-sec-seven {
  padding: 100px;
  background-color: var(--rose);
  height:100vh;
  width:100vw;
}
.line-seven{
  background-color: var(--dark);
  width: 39rem;
  height: 0.5rem;
}
.con-row{
  height:80vh;
  width:100%;
}
.edu-title{
  margin-top:3rem;
  color:var(--bear);
}
.edu-name{
  color:var(--themeDarkest);
}
.left-edu ul{
  list-style: circle;
}
.job-h{
  color:var(--bear);
  margin-top:3rem;
}
.job-ul>li{
  list-style:none;
  line-height:1.5;
  margin-left:-2rem;
  margin-top:15px;
  font-size:1.1rem;
}